<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

    <header th:replace="layout/layout :: header"></header>

    <div class="container">

        <div class="card bg-danger text-white">
            <div class="card-header">Acceso Denegado</div>
            <div class="card-body">
                <h5 class="card-title">Lo sentimos <span th:text="${#httpServletRequest.remoteUser}"></span>, no tiene acceso a esta pagina.</h5>
                <a th:href="@{/listar}" class="btn btn-outline-light" role="button"> ir al inicio </a>
            </div>
        </div>

    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>